@import "../../variables";

.tool-palette {
  background: transparent;
  margin: $palette-margin;
  display: flex;
  padding: 5px 15px 5px 0;
  flex-direction: column;
  width: 145px;
}

.color-picker,
.tool-picker {
  background: white;
  border-top-right-radius: $palette-border-rad;
  border-bottom-right-radius: $palette-border-rad;
  box-shadow: $palette-box-shadow;
  margin-bottom: 30px;
  padding: 15px 10px 15px 15px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}

.tool-picker {

  padding: 5px 5px 5px 0px;
}

.tool-picker__column {
  width: 50%;
  flex-direction: column;
}

.btn {
  border-radius: 10px !important;
  margin: 5px 5px !important;
  width: 90% !important;
  height: 30px;
}

