.workspace {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 150px;
  grid-template-rows: 60px 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . .";
}

.brush {
  cursor: help;
}

