@import "../../variables";
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

.header {
  background: rgb(117,125,232);
  background: -moz-linear-gradient(90deg, rgba(117,125,232,1) 0%, rgba(57,71,168,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(117,125,232,1) 0%, rgba(57,71,168,1) 100%);
  background: linear-gradient(90deg, rgba(117,125,232,1) 0%, rgba(57,71,168,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#757de8",endColorstr="#3947a8",GradientType=1);
  grid-column: 1/-1;
  box-shadow: $palette-box-shadow;
  z-index: 999;
  display: flex;
  align-items: center;
}

.header img {
  height: 100%;
}

.header h1 {
  margin-left: 25px;
  font-size: 3rem;
  font-family: 'Rowdies', cursive;
}
